* {
    box-sizing: border-box;
  }
  
  body {
      
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

   
  }
  
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-color: #20212C;
    
    background-size: cover;
    color: white;
    
  }
  
  .top-wrapper h1 {
    
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 2px;
    margin-top : 2px;
    color: white;
    
  }
  
  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  
  .header-left {
    float: left;
    color: white;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  /* Tambahkan CSS untuk menu-icon */
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display :none;
    /* Gantikan property display ke none */
    
  }
  
  
  .lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .lessons{
    width: 950px;
    justify-content:center;
    padding: 10px;
  }


  .lesson {
    float: left;
    justify-content: center;
    width: 25%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    
  }
  
  .lesson-icon {
    position: relative;
    width: 260px;
    height: 540px;
    
    padding-top: 25px;
    background: #20212C;
    border-radius: 25px;
    
  }

  .lesson-icon img {
    border-radius: 70px;
  }
  
  .lesson-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
  }
  
  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #b3aeb5;
  }

  .text-contents1 {
    width: 80%;
    display: inline-block;
    margin-top: 100px;
    font-size: 15px;
    color: white;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  footer img {
    
    width: 125px;
  }
  
  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }
  
  footer {
    padding-top: 30px;
    padding-bottom: 20px;
  }